	   		<div id="textPolicy" style="display: block;">
				<h3 style="font-family: serif;">PROVIDER SERVICES AGREEMENT </h3>
								

     
<p dir="ltr">
    This Provider Services Agreement (“Agreement”) constitutes a legal agreement between you, an individual (“you”) or your organization and Efetalena
    Marketing LTD (RC 1296483) a limited liability company duly incorporated pursuant to the Laws of the Federal Republic of Nigeria.
</p>
<p dir="ltr">
    Charme, a product of Efetalena Marketing LTD, provides lead generation to independent providers of beauty and wellness services (Hairstylist / Makeup
    Artist/Barber/Nail Tech/Massage Therapist/Fitness Instructors) using the Charme Services (as defined below). The Charme Services enable an authorized
    beauty and wellness service provider to seek, receive and fulfill requests for beauty and wellness services from an authorized user of Charme’s mobile
    applications. You desire to enter into this Agreement for the purpose of accessing and using the Charme Services.
</p>
<p dir="ltr">
    You acknowledge and agree that Company is a technology services provider that does not provide beauty and wellness services.
</p>
<p dir="ltr">
    In order to use the Charme Services, you must agree to the terms and conditions that are set forth below. Upon your execution (electronic or otherwise) of
    this Agreement, you and Company shall be bound by the terms and conditions set forth herein.
</p>
<p dir="ltr">
    IMPORTANT: PLEASE NOTE THAT TO USE THE CHARME SERVICES, YOU MUST AGREE TO THE TERMS AND CONDITIONS SET FORTH BELOW. PLEASE REVIEW THE ARBITRATION PROVISION
    SET FORTH BELOW CAREFULLY, AS IT WILL REQUIRE YOU TO RESOLVE DISPUTES WITH THE COMPANY ON AN INDIVIDUAL BASIS, EXCEPT AS PROVIDED IN SECTION 15.3, THROUGH
    FINAL AND BINDING ARBITRATION UNLESS YOU CHOOSE TO OPT OUT OF THE ARBITRATION PROVISION. BY VIRTUE OF YOUR ELECTRONIC EXECUTION OF THIS AGREEMENT, YOU WILL
    BE ACKNOWLEDGING THAT YOU HAVE READ AND UNDERSTOOD ALL OF THE TERMS OF THIS AGREEMENT (INCLUDING THE ARBITRATION PROVISION) AND HAVE TAKEN TIME TO CONSIDER
    THE CONSEQUENCES OF THIS IMPORTANT BUSINESS DECISION. IF YOU DO NOT WISH TO BE SUBJECT TO ARBITRATION, YOU MAY OPT OUT OF THE ARBITRATION PROVISION BY
    FOLLOWING THE INSTRUCTIONS PROVIDED IN THE ARBITRATION PROVISION BELOW.
</p>
<p dir="ltr">
    1. Definitions
</p>
<p dir="ltr">
    1.1 “Affiliate” means an entity that, directly or indirectly, controls, is under the control of, or is under common control with a party, where control
    means having more than fifty percent (50%) of the voting stock or other ownership interest or the majority of the voting rights of such entity.  
</p>
<p dir="ltr">
    1.2 “City Addendum” means an addendum or supplemental information to this Agreement setting forth additional Territory-specific terms, as made available
    and as updated by Company from time to time.  
</p>
<p dir="ltr">
    1.3 “Company Data” means all data related to the access and use of the Charme Services hereunder, including all data related to Users (including User
    Information), all data related to the provision of Beauty and wellness Services via the Charme Services and the Provider App, and the Provider ID.  
</p>
<p dir="ltr">
    1.4 “Company Device” means a mobile device owned or controlled by Company that is provided to you solely for your use of the Charme App to provide Beauty
    and wellness Services.  
</p>
<p dir="ltr">
    1.5 “Device” means a Company Device or Your Device, as the case may be.  
</p>
<p dir="ltr">
    1.6 “Provider App” means the mobile application provided by Company that enables beauty and wellness providers to access the Charme Services for the
    purpose of seeking, receiving and fulfilling on- demand requests for beauty and wellness services by Users, as may be updated or modified from time to
    time.  
</p>
<p dir="ltr">
    1.7 “Provider ID” means the identification and password key assigned by Company to you that enables you to use and access the Provider App.  
</p>
<p dir="ltr">
    1.8 “Charge” has the meaning set forth in Section 4.1.  
</p>
<p dir="ltr">
    1.9 “Service Fee” has the meaning set forth in Section 4.4.  
</p>
<p dir="ltr">
    1.10 “Territory” means the city or metro areas in Nigeria in which you are enabled by the Provider App to receive requests for Beauty and wellness
    Services.  
</p>
<p dir="ltr">
    1.11 “Beauty and wellness Services” means your provision of beauty and wellness services to Users via the Charme Service.  
</p>
<p dir="ltr">
    1.12 “Charme Services” mean Charme’s on-demand lead generation and related services licensed by Charme to Company that enable beauty and wellness providers
    to seek, receive and fulfill on-demand requests for beauty and wellness services by Users seeking beauty and wellness services; such Charme Services
    include access to the Provider App and Charme’s software, websites, payment services as described in Section 4 below, and related support services systems,
    as may be updated or modified from time to time.  
</p>
<ol start="13">
    <li dir="ltr">
        <p dir="ltr">
            “User” means an end user authorized by Charme to use the Charme mobile application for the purpose of obtaining Beauty and wellness Services
            offered by Company’s beauty and wellness provider customers.  
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            “User Information” means information about a User made available to you in connection with such User’s request for and use of Beauty and wellness
            Services, which may include the User’s name, location, contact information and photo.  
        </p>
    </li>
</ol>
<br/>
<ol start="15">
    <li dir="ltr">
        <p dir="ltr">
            “Your Device” means a mobile device owned or controlled by you: (a) that meets the then- current Company specifications for mobile devices; and (b)
            on which the Provider App has been installed as authorized by Company solely for the purpose of providing Beauty and wellness Services.  
        </p>
    </li>
</ol>
<p dir="ltr">
    2. Use of the Charme Services
</p>
<p dir="ltr">
    2.1 Provider IDs. Charme may choose to issue you a Provider ID to enable you to access and use the Provider App on a Device in accordance with this
    Agreement. The Company reserves the right to deactivate your Provider ID if you have not fulfilled a request for Beauty and wellness Services using the
    Provider App at least once a month. You agree that you will maintain your Provider ID in confidence and not share your Provider ID with any third party.
    You will immediately notify Company of any actual or suspected breach or improper use or disclosure of your Provider ID or the Provider App.  
</p>
<p dir="ltr">
    2.2 Provision of Beauty and wellness Services. When the Provider App is active, User requests for Beauty and wellness Services may appear to you via the
    Provider App if you are available and in the vicinity of the User. If you accept a User’s request for Beauty and wellness Services, the Charme Services
    will provide you with certain User Information via the Provider App, including the User’s first name and location. You acknowledge and agree that once you
    have accepted a User’s request for Beauty and wellness Services, Charme’s mobile application may provide certain information about you to the User,
    including your first name, contact information, photo and location. You shall not contact any Users or use any User’s personal data for any reason other
    than for the purposes of fulfilling Beauty and wellness Services. As between Company and you, you acknowledge and agree that: (a) you shall be solely
    responsible for determining the most effective, efficient and safe manner to perform each instance of Beauty and wellness Services; and (b) except for the
    Charme Services or any Company Devices (if applicable), you shall provide all necessary equipment, tools and other materials, at your own expense,
    necessary to perform Beauty and wellness Services.
</p>
<p dir="ltr">
    2.3 Your Relationship with Users. You acknowledge and agree that your provision of Beauty and wellness Services to Users creates a direct business
    relationship between you and the User. Company is not responsible or liable for the actions or inactions of a User in relation to you, your activities or
    your tools. You shall have the sole responsibility for any obligations or liabilities to Users or third parties that arise from your provision of Beauty
    and wellness Services. You acknowledge and agree that you are solely responsible for taking such precautions as may be reasonable and proper (including
    maintaining adequate insurance that meets the requirements of all applicable laws) regarding any acts or omissions of a User or third party.
</p>
<p dir="ltr">
    2.4 Your Relationship with Company. You acknowledge and agree that Company’s provision to you of the Provider App and the Charme Services creates a direct
    business relationship between Company and you. Company does not, and shall not be deemed to, direct or control you generally or in your performance under
    this Agreement specifically, including in connection with your provision of Beauty and wellness Services, your acts or omissions, or your operation and
    maintenance of your Vehicle. You retain the sole right to determine when, where, and for how long you will utilize the Provider App or the Charme Services.
    You retain the option, via the Provider App, to attempt to accept or to decline or ignore a User’s request for Beauty and wellness Services via the Charme
    Services, or to cancel an accepted request for Beauty and wellness Services via the Provider App, subject to Company’s then-current cancellation policies.
    You acknowledge and agree that you have complete discretion to provide services or otherwise engage in other business or employment activities. Company
    retains the right to deactivate or otherwise restrict you from accessing or using the Provider App or the Charme Services in the event of a violation or
    alleged violation of this Agreement, your disparagement of Company or any of its Affiliates, your act or omission that causes harm to Company’s or its
    Affiliates’ brand, reputation or business as determined by Company in its sole discretion.  
</p>
<p dir="ltr">
    2.5 Ratings
</p>
<p dir="ltr">
    2.5.1 You acknowledge and agree that: (a) after receiving Beauty and wellness Services, a User will be prompted by Charme’s mobile application to provide a
    rating of you and such Beauty and wellness Services and, optionally, to provide comments or feedback about you and such Beauty and wellness Services; and
    (b) after providing Beauty and wellness Services, you will be prompted by the Provider App to provide a rating of the User and, optionally, to provide
    comments or feedback about the User. You shall provide your ratings and feedback in good faith.  
</p>
<p dir="ltr">
    2.5.2 You acknowledge that Company desires that Users have access to high-quality services via Charme’s mobile application. In order to continue to receive
    access to the Provider App and the Charme Services, you must maintain an average rating by Users that exceeds the minimum average acceptable rating
    established by Company for your Territory, as may be updated from time to time by Company in its sole discretion (“Minimum Average Rating”). Your average
    rating is intended to reflect Users’ satisfaction with your  
</p>
<p dir="ltr">
    2.5.3 Beauty and wellness Services rather than your compliance with any of Company’s policies or recommendations. In the event your average rating falls
    below the Minimum Average Rating, Company will notify you and may provide you, in Company’s discretion, a limited period of time to raise your average
    rating above the Minimum Average Rating. If you do not increase your average rating above the Minimum Average Rating within the time period allowed (if
    any), Company reserves the right to deactivate your access to the Provider App and the Charme Services. Additionally, you acknowledge that your repeated
    failure to accept User requests for Beauty and wellness Services while you are logged in to the Provider App creates a negative experience for Users of
    Charme’s mobile application. If you do not wish to accept User requests for Beauty and wellness Services for a period of time, you agree that you will log
    off of the Provider App.
</p>
<p dir="ltr">
    2.5.4 Company and its Affiliates reserve the right to use, share and display your and User ratings and comments in any manner in connection with the
    business of Company and its Affiliates without attribution to you or your approval. You acknowledge and agree that Company and its Affiliates are
    distributors (without any obligation to verify) and not publishers of your and User ratings and comments, provided that Company and its Affiliates reserve
    the right to edit or remove comments in the event that such comments include obscenities or other objectionable content, include an individual’s name or
    other personal information, or violate any privacy laws, other applicable laws or Company’s or its Affiliates’ content policies.
</p>
<p dir="ltr">
    2.6 Devices.
</p>
<p dir="ltr">
    2.6.1 Company encourages you to use Your Device in providing Beauty and wellness Services. Otherwise, if you elect to use any Company Devices, Company will
    supply you upon request with Company Devices and provide the necessary wireless data plan for such Devices, provided that Company will require
    reimbursement from you for the costs associated with the wireless data plan of each Company Device and/or request a deposit for each Company Device. You
    agree that: (a) Company Devices may only be used for the purpose of enabling your access to the Charme Services; and (b) Company Devices may not be
    transferred, loaned, sold or otherwise provided in any manner to any party other than you. Company Devices shall at all times remain the property of
    Company, and upon termination of this Agreement or your termination or deactivation, you agree to return to Company the applicable Company Devices within
    ten (10) days. You agree that failure to timely return any Company Devices, or damage to Company Devices outside of “normal wear and tear,” will result in
    the forfeiture of related deposits.  
</p>
<p dir="ltr">
    2.6.2 If you elect to use Your Devices: (i) you are responsible for the acquisition, cost and maintenance of Your Devices as well as any necessary wireless
    data plan; and (ii) Company shall make available the Provider App for installation on Your Device. Company hereby grants you a personal, non-exclusive,
    non-transferable license to install and use the Provider App on Your Device solely for the purpose of providing Beauty and wellness Services. You agree to
    not provide, distribute or share, or enable the provision, distribution or sharing of, the Provider App (or any data associated therewith) with any third
    party. The foregoing license grant shall immediately terminate and you will delete and fully remove the Provider App from the Provider-Provided Device in
    the event that you cease to provide Beauty and wellness Services using Your Device. You agree that: (i) use of the Provider App on Your Device requires an
    active data plan with a wireless carrier associated with Your Device, which data plan will be provided by you at your own  expense; and (ii) use of the
    Provider App on Your Device as an interface with the Charme Services may consume very large amounts of data through the data plan. COMPANY ADVISES THAT
    YOUR DEVICE ONLY BE USED UNDER A DATA PLAN WITH UNLIMITED OR VERY HIGH DATA USAGE LIMITS, AND COMPANY SHALL NOT BE RESPONSIBLE OR LIABLE FOR ANY FEES,
    COSTS, OR OVERAGE CHARGES ASSOCIATED WITH ANY DATA PLAN.
</p>
<p dir="ltr">
    2.7 Location Based Services. You acknowledge and agree that your geo-location information must be provided to the Charme Services via a Device in order to
    provide Beauty and wellness Services. You acknowledge and agree that: (a) your geo-location information may be obtained by the Charme Services while the
    Provider App is running; and (b) the approximate location of your Vehicle will be displayed to the User before and during the provision of Beauty and
    wellness Services to such User. In addition, Company and its Affiliates may monitor, track and share with third parties Provider’s geo-location information
    obtained by the Provider App and Device for safety and security purposes.
</p>
<p dir="ltr">
    3. Financial Terms
</p>
<p dir="ltr">
    3.1 Service Fee. In consideration of Company’s provision of the Provider App and the Charme Services for your use and benefit hereunder, you agree to pay
    Company a service fee on a per Beauty and wellness Services transaction basis calculated as a percentage of the Service Charge determined by the Service
    Charge Calculation (regardless of any Negotiated Service Charge), as provided to you via email or otherwise made available electronically by Company from
    time to time for the applicable Territory (“Service Fee”). In the event regulations applicable to your Territory require taxes to be calculated on the
    Service Charge, Company shall calculate the Service Fee based on the Service Charge net of such taxes. Company reserves the right to change the Service Fee
    at any time in Company’s discretion based upon local market factors, and Company will provide you with notice in the event of such change. Continued use of
    the Charme Services after any such change in the Service Fee calculation shall constitute your consent to such changes.
</p>
<p dir="ltr">
    3.2 Service Charge Adjustment. Company reserves the right to: (i) adjust the Service Charge for a particular instance of Beauty and wellness Services; or
    (ii) cancel the Service Charge for a particular instance of Beauty and wellness Services (e.g., User is charged for Beauty and wellness Services that were
    not provided, in the event of a User complaint, fraud, etc.). Company’s decision to reduce or cancel the Service Charge in any such manner shall be
    exercised in a reasonable manner.  
</p>
<p dir="ltr">
    3.3 Cancellation Charges. You acknowledge and agree that Users may elect to cancel requests for Beauty and wellness Services that have been accepted by you
    via the Provider App at any time prior to your arrival. In the event that a User cancels an accepted request for Beauty and wellness Services, Company may
    charge the User a cancellation fee on your behalf. If charged, this cancellation fee shall be deemed the Service Charge for the cancelled Beauty and
    wellness Services for the purpose of remittance to you hereunder (“Cancellation Fee”).
</p>
<p dir="ltr">
    3.4 Receipts. As part of the Charme Services, Company provides you a system for the delivery of receipts to Users for Beauty and wellness Services
    rendered. Upon your completion of Beauty and wellness Services for a User, Company prepares an applicable receipt and issues such receipt to the User via
    email on your behalf. Such receipts are also provided to you via email or the online portal available to you through the Charme Services. Receipts include
    the breakdown of amounts charged to the User for Beauty and wellness Services and may include specific information about you, including your name, contact
    information and photo. Any corrections to a User’s receipt for Beauty and wellness Services must be submitted to Company in writing within three (3)
    business days after the completion of such Beauty and wellness Services. Absent such a notice, Company shall not be liable for any mistakes in or
    corrections to the receipt or for recalculation or disbursement of the Service Charge.  
</p>
<p dir="ltr">
    3.5 No Additional Amounts. You acknowledge and agree that, for the mutual benefit of the parties, through advertising and marketing, Company and its
    Affiliates may seek to attract new Users to Charme and to increase existing Users’ use of Charme’s mobile application. You acknowledge and agree such
    advertising or marketing does not entitle you to any additional monetary amounts beyond the amounts expressly set forth in this Agreement.  
</p>
<p dir="ltr">
    3.6 Taxes. You acknowledge and agree that you are required to: (a) complete all tax registration obligations and calculate and remit all tax liabilities
    related to your provision of Beauty and wellness Services as required by applicable law; and (b) provide Company with all relevant tax information. You
    further acknowledge and agree that you are responsible for taxes on your own income arising from the performance of Beauty and wellness Services.
    Notwithstanding anything to the contrary in this Agreement, Company may in its reasonable discretion based on applicable tax and regulatory considerations,
    collect and remit taxes resulting from your provision of Beauty and wellness Services and/or provide any of the relevant tax information you have provided
    pursuant to the foregoing requirements in this Section 4.8 directly to the applicable governmental tax authorities on your behalf or otherwise.  
</p>
<p dir="ltr">
    4. Proprietary Rights; License
</p>
<p dir="ltr">
    4.1 License Grant. Subject to the terms and conditions of this Agreement, Company hereby grants you a non-exclusive, non-transferable, non-sub licensable,
    non-assignable license, during the term of this Agreement, to use the Charme Services (including the Provider App on a Device) solely for the purpose of
    providing Beauty and wellness Services to Users and tracking resulting Service Charges and Fees. All rights not expressly granted to you are reserved by
    Company, its Affiliates and their respective licensors.  
</p>
<p dir="ltr">
    4.2 Restrictions. You shall not, and shall not allow any other party to: (a) license, sublicense, sell, resell, transfer, assign, distribute or otherwise
    provide or make available to any other party the Charme Services, Provider App or any Company Device in any way; (b) modify or make derivative works based
    upon the Charme Services or Provider App; (c) improperly use the Charme Services or Provider App, including creating Internet “links” to any part of the
    Charme Services or Provider App, “framing” or “mirroring” any part of the Charme Services or Provider App on any other websites or systems, or “scraping”
    or otherwise improperly obtaining data from the Charme Services or Provider App; (d) reverse engineer, decompile, modify, or disassemble the Charme
    Services or Provider App, except as allowed under applicable law; or (e) send spam or otherwise duplicative or unsolicited messages. In addition, you shall
    not, and shall not allow any other party to, access or use the Charme Services or Provider App to: (i) design or develop a competitive or substantially
    similar product or service; (ii) copy or extract any features, functionality, or content thereof; (iii) launch or cause to be launched on or in connection
    with the Charme Services an automated program or script, including web spiders, crawlers, robots, indexers, bots, viruses or worms, or any program which
    may make multiple server requests per second, or unduly burden or hinder the operation and/or performance of the Charme Services; or (iv) attempt to gain
    unauthorized access to the Charme Services or its related systems or networks.  
</p>
<p dir="ltr">
    4.3 Ownership. The Charme Services, Provider App and Company Data, including all intellectual property rights therein, and the Company Devices are and
    shall remain (as between you and Company) the property of Company, its Affiliates or their respective licensors. Neither this Agreement nor your use of the
    Charme Services, Provider App or Company Data conveys or grants to you any rights in or related to the Charme Services, Provider App or Company Data,
    except for the limited license granted above. Other than as specifically permitted by the Company in connection with the Charme Services, you are not
    permitted to use or reference in any manner Company’s, its Affiliates’, or their respective licensors’ company names, logos, products and service names,
    trademarks, service marks, trade dress, copyrights or other indicia of ownership,  . You agree that you will not try to register or otherwise use and/or
    claim ownership in any of the CHARME Marks and Names, alone or in  combination with other letters, punctuation, words, symbols and/or designs, or in any
    confusingly similar mark, name or title, for any goods and services.  
</p>
<p dir="ltr">
    5. Confidentiality
</p>
<p dir="ltr">
    5.1 Each party acknowledges and agrees that in the performance of this Agreement it may have access to or may be exposed to, directly or indirectly,
    confidential information of the other party ("Confidential Information"). Confidential Information includes Company Data, Provider IDs, User Information,
    and the transaction volume, marketing and business plans, business, financial, technical, operational and such other non-public information of each party
    (whether disclosed in writing or verbally) that such party designates as being proprietary or confidential or of which the other party should reasonably
    know that it should be treated as confidential.
</p>
<ul>
    <li dir="ltr">
        <img
            src="https://lh6.googleusercontent.com/h9ZqXnXJNLM5ldg0gJnuJ-5bPTBZLR7QUi55iZcYgcdtQqHoMEXjJv51-ZfYKzm9bI_UjwBVMIX1lmHMtSvxulEKLd82ty-z5cVco2dXiaszd61mn-CzVrqB-f79FUYI8W_SaIa7JmqtwVhsFA"
            width="72"
            height="18"
        />
    </li>
</ul>
<p dir="ltr">
    5.2 Each party acknowledges and agrees that: (a) all Confidential Information shall remain the exclusive property of the disclosing party; (b) it shall not
    use Confidential Information of the other party for any purpose except in furtherance of this Agreement; (c) it shall not disclose Confidential Information
    of the other party to any third party, except to its employees, officers, contractors, agents and service providers ("Permitted Persons") as necessary to
    perform under this Agreement, provided Permitted Persons are bound in writing to obligations of confidentiality and non-use of Confidential Information no
    less protective than the terms hereof; and (d) it shall return or destroy all Confidential Information of the disclosing party, upon the termination of
    this Agreement or at the request of the other party (subject to applicable law and, with respect to Company, its internal record-keeping requirements).  
</p>
<p dir="ltr">
    5.3 Notwithstanding the foregoing, Confidential Information shall not include any information to the extent it: (a) is or becomes part of the public domain
    through no act or omission on the part of the receiving party; (b) was possessed by the receiving party prior to the date of this Agreement without an
    obligation of confidentiality; (c) is disclosed to the receiving party by a third party having no obligation of confidentiality with respect thereto; or
    (d) is required to be disclosed pursuant to law, court order, subpoena or governmental authority, provided the receiving party notifies the disclosing
    party thereof and provides the disclosing party a reasonable opportunity to contest or limit such required disclosure.  
</p>
<p dir="ltr">
    6. Privacy
</p>
<p dir="ltr">
    6.1 Disclosure of Your Information. Subject to applicable law, Company and its Affiliates may, but shall not be required to, provide to you, a User, an
    insurance company and/or relevant authorities and/or regulatory agencies any information (including personal information (e.g., information obtained about
    you through any background check) and any Company Data) about you or any Beauty and wellness Services provided hereunder if: (a) there is a complaint,
    dispute or conflict, including an accident, between you and a User; (b) it is necessary to enforce the terms of this Agreement; (c) it is required, in
    Company’s or any Affiliate’s sole discretion, by applicable law or regulatory requirements (e.g., Company or its Affiliates receive a subpoena, warrant, or
    other legal process for information); (d) it is necessary, in Company’s or any Affiliate’s sole discretion,  .  
</p>
<p dir="ltr">
    6.2 Company and its Affiliates may collect your personal data during the course of your application for, and use of, the Charme Services, or may obtain
    information about you from third parties. Such information may be stored, processed, transferred, and accessed by Company and its Affiliates, third
    parties, and service providers for business purposes, including for marketing, lead generation, service development and improvement, analytics, industry
    and market research, and such other purposes consistent with Company’s and its Affiliates’ legitimate business needs. You expressly consent to such use of
    personal data.  
</p>
<p dir="ltr">
    7. Insurance
</p>
<p dir="ltr">
    To (1) protect the safety, rights, property or security of Company or its Affiliates, the
</p>
<p dir="ltr">
    Charme Services or any third party; (2) to protect the safety of the public for any reason including
</p>
<p dir="ltr">
    the facilitation of insurance claims related to the Charme Services; (3) to detect, prevent or
</p>
<p dir="ltr">
    otherwise address fraud, security or technical issues; (4) to prevent or stop activity which
</p>
<p dir="ltr">
    Company or any of its Affiliates, in their sole discretion, may consider to be, or to pose a risk of
</p>
<p dir="ltr">
    being, an illegal, unethical, or legally actionable activity); or (e) it is required or necessary, in
</p>
<p dir="ltr">
    Company’s or any Affiliate’s sole discretion, for insurance or other purposes related to your
</p>
<p dir="ltr">
    ability to qualify, or remain qualified, to use the Charme Services. You understand that Company
</p>
<p dir="ltr">
    may retain your personal data for legal, regulatory, safety and other necessary purposes after
</p>
<p dir="ltr">
    this Agreement is terminated
</p>
<p dir="ltr">
    7.1 You agree to maintain during the term of this Agreement workers’ compensation insurance as required by all applicable laws in the Territory. If
    permitted by applicable law, you may choose to insure yourself against industrial injuries by maintaining occupational accident insurance in place of
    workers’ compensation insurance. Furthermore, if permitted by applicable law, you may choose not to insure yourself against industrial injuries at all, but
    do so at your own risk.  
</p>
<p dir="ltr">
    7.2 Company may maintain during the term of this Agreement insurance related to your provision of Beauty and wellness Services as determined by Company in
    its reasonable, provided that Company and its Affiliates are not required to provide you with any specific insurance coverage for any loss to you. You are
    required to promptly notify Company of any accidents that occur while providing Beauty and wellness Services and to cooperate and provide all necessary
    information related thereto.  
</p>
<p dir="ltr">
    8. Representations and Warranties; Disclaimers
</p>
<p dir="ltr">
    8.1 By You. You hereby represent and warrant that: (a) you have full power and authority to enter into this Agreement and perform your obligations
    hereunder; (b) you have not entered into, and during the term will not enter into, any agreement that would prevent you from complying with this Agreement;
    and (c) you will comply with all applicable laws in your performance of this Agreement, including holding and complying with all permits, licenses,
    registrations and other governmental authorizations necessary to provide (i) Beauty and wellness Services using the Vehicles pursuant to this Agreement,
    and (ii) passenger beauty and wellness services to third parties in the Territory generally.  
</p>
<p dir="ltr">
    8.2 Disclaimer of Warranties. COMPANY AND ITS AFFILIATES PROVIDE, AND YOU ACCEPT, THE CHARME SERVICES, PROVIDER APP AND THE COMPANY DEVICES ON AN "AS IS"
    AND "AS AVAILABLE" BASIS. COMPANY AND ITS AFFILIATES DO NOT REPRESENT, WARRANT OR GUARANTEE THAT YOUR ACCESS TO OR USE OF THE CHARME SERVICES, PROVIDER APP
    OR THE COMPANY DEVICES: (A) WILL BE UNINTERRUPTED OR ERROR FREE; OR (B) WILL RESULT IN ANY REQUESTS FOR BEAUTY AND WELLNESS SERVICES. COMPANY AND ITS
    AFFILIATES FUNCTION AS AN ON-DEMAND LEAD GENERATION AND RELATED SERVICE ONLY AND MAKE NO REPRESENTATIONS, WARRANTIES OR GUARANTEES AS TO THE ACTIONS OR
    INACTIONS OF THE USERS WHO MAY REQUEST OR RECEIVE BEAUTY AND WELLNESS SERVICES FROM YOU, AND COMPANY AND ITS AFFILIATES DO NOT SCREEN OR OTHERWISE EVALUATE
    USERS. BY USING THE CHARME SERVICES AND PROVIDER APP, YOU ACKNOWLEDGE AND AGREE THAT YOU MAY BE INTRODUCED TO A THIRD PARTY THAT MAY POSE HARM OR RISK TO
    YOU OR OTHER THIRD PARTIES. YOU ARE ADVISED TO TAKE REASONABLE PRECAUTIONS WITH RESPECT TO INTERACTIONS WITH THIRD PARTIES ENCOUNTERED IN CONNECTION WITH
    THE USE OF THE CHARME SERVICES OR PROVIDER APP.NOTWITHSTANDING COMPANY’S APPOINTMENT AS THE LIMITED PAYMENT COLLECTION AGENT OF YOU FOR THE PURPOSE OF
    ACCEPTING PAYMENT FROM USERS ON YOUR BEHALF AS SET FORTH IN SECTION 4 ABOVE, COMPANY AND ITS AFFILIATES EXPRESSLY DISCLAIM ALL LIABILITY FOR ANY ACT OR
    OMISSION OF YOU, ANY USER OR OTHER THIRD PARTY.
</p>
<p dir="ltr">
    8.3 No Service Guarantee. COMPANY AND ITS AFFILIATES DO NOT GUARANTEE THE AVAILABILITY OR UPTIME OF THE CHARME SERVICES OR PROVIDER APP. YOU ACKNOWLEDGE
    AND AGREE THAT THE CHARME SERVICES OR PROVIDER APP MAY BE UNAVAILABLE AT ANY TIME AND FOR ANY REASON (e.g., DUE TO SCHEDULED MAINTENANCE OR NETWORK
    FAILURE). FURTHER, THE CHARME SERVICES OR PROVIDER APP MAY BE SUBJECT TO LIMITATIONS, DELAYS, AND OTHER PROBLEMS INHERENT IN THE USE OF THE INTERNET AND
    ELECTRONIC COMMUNICATIONS, AND COMPANY AND ITS AFFILIATES ARE NOT RESPONSIBLE FOR ANY DELAYS, DELIVERY FAILURES, OR OTHER DAMAGES, LIABILITIES OR LOSSES
    RESULTING FROM SUCH PROBLEMS.
</p>
<p dir="ltr">
    9. Indemnification. You shall indemnify, defend (at Company’s option) and hold harmless Company and its Affiliates and their respective officers,
    directors, employees, agents, successors and assigns from and against any and all liabilities, expenses (including legal fees), damages, penalties, fines,
    social security contributions and taxes arising out of or related to: (a) your breach of your representations, warranties or obligations under this
    Agreement; or (b) a claim by a third party (including Users, regulators and governmental authorities) directly or indirectly related to your provision of
    Beauty and wellness Services or use of the Charme Services. This indemnification provision shall not apply to your breach of any representations regarding
    your status as an independent contractor.
</p>
<p dir="ltr">
    10. Limits of Liability. COMPANY AND ITS AFFILIATES SHALL NOT BE LIABLE UNDER OR RELATED TO THIS AGREEMENT FOR ANY OF THE FOLLOWING, WHETHER BASED ON
    CONTRACT, TORT OR ANY OTHER LEGAL THEORY, EVEN IF A PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES: (i) ANY INCIDENTAL, PUNITIVE, SPECIAL,
    EXEMPLARY, CONSEQUENTIAL, OR OTHER INDIRECT DAMAGES OF ANY TYPE OR KIND; OR (ii) YOUR OR ANY THIRD PARTY’S PROPERTY DAMAGE, OR LOSS OR INACCURACY OF DATA,
    OR LOSS OF BUSINESS, REVENUE, PROFITS, USE OR OTHER ECONOMIC ADVANTAGE. EXCEPT FOR COMPANY’S OBLIGATIONS TO PAY AMOUNTS DUE TO YOU PURSUANT TO SECTION 4
    ABOVE, BUT SUBJECT TO ANY LIMITATIONS OR OTHER PROVISIONS CONTAINED IN THIS AGREEMENT WHICH ARE APPLICABLE THERETO, IN NO EVENT SHALL THE LIABILITY OF
    COMPANY OR ITS AFFILIATES UNDER THIS AGREEMENT EXCEED THE AMOUNT OF SERVICE FEES ACTUALLY PAID TO OR DUE TO COMPANY HEREUNDER IN THE ONE (1) MONTH PERIOD
    IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO SUCH CLAIM.
</p>
<p dir="ltr">
    11. Term and Termination
</p>
<p dir="ltr">
    11.1 Term. This Agreement shall commence on the date accepted by you and shall continue until terminated as set forth herein.
</p>
<p dir="ltr">
    11.2 Termination. Either party may terminate this Agreement: (a) without cause at any time upon seven (7) days prior written notice to the other party; (b)
    immediately, without notice, for the other party’s material breach of this Agreement; or (c) immediately, without notice, in the event of the insolvency or
    bankruptcy of the other party, or upon the other party’s filing or submission of request for suspension of payment (or similar action or event) against the
    terminating party. In addition, Company may terminate this Agreement or deactivate your Provider ID immediately, without notice, with respect to you in the
    event you no longer qualify, under applicable law or the standards and policies of Company and its Affiliates, to provide Beauty and wellness Services or
    to operate the Vehicle, or as otherwise set forth in this Agreement.  
</p>
<p dir="ltr">
    11.3 Effect of Termination. Upon termination of the Agreement, you shall: (a) promptly return to Company all Company Devices; and (b) immediately delete
    and fully remove the Provider App from any of Your Devices. Outstanding payment obligations and Sections 1, 2.3, 2.5.3, 3.7, 3.8, 4.3, 5, 6, 8, 9, 10,
    11.3, 12, 13 and 14 shall survive the termination of this Agreement.  
</p>
<p dir="ltr">
    12. Relationship of the Parties
</p>
<p dir="ltr">
    12.1 Except as otherwise expressly provided herein with respect to Company acting as the limited payment collection agent solely for the purpose of
    collecting payment from Users on your behalf, the relationship between the parties under this Agreement is solely that of independent contracting parties.
    The parties expressly agree that: (a) this Agreement is not an employment agreement, nor does it create an employment relationship, between Company and
    you; and (b) no joint venture, partnership, or agency relationship exists between Company and you.  
</p>
<p dir="ltr">
    12.2 You have no authority to bind Company or its Affiliates and you undertake not to hold yourself out as an employee, agent or authorized representative
    of Company or its Affiliates. Where, by implication of mandatory law or otherwise, you may be deemed an agent or representative of Company, you undertake
    and agree to indemnify, defend (at Company’s option) and hold Company and its Affiliates harmless from and against any claims by any person or entity based
    on such implied agency or representative relationship.  
</p>
<p dir="ltr">
    13. Miscellaneous Terms
</p>
<p dir="ltr">
    13.1 Modification. In the event Company modifies the terms and conditions of this Agreement at any time, such modifications shall be binding on you only
    upon your acceptance of the modified Agreement. Company reserves the right to modify any information referenced at hyperlinks from this Agreement from time
    to time. You hereby acknowledge and agree that, by using the Charme Services, or downloading, installing or using the Provider App, you are bound by any
    future amendments and additions to information referenced at hyperlinks herein, or documents incorporated herein, including with respect to Service Charge
    Calculations. Continued use of the Charme Services or Provider App after any such changes shall constitute your consent to such changes. Unless changes are
    made to the arbitration provisions herein, you acknowledge and agree that modification of this Agreement does not create a renewed opportunity to opt out
    of arbitration.  
</p>
<p dir="ltr">
    13.2 Supplemental Terms. Supplemental terms may apply to your use of the Charme Services, such as use policies or terms related to certain features and
    functionality, which may be modified from time to time (“Supplemental Terms”). You may be presented with certain Supplemental Terms from time to time.
    Supplemental Terms are in addition to, and shall be deemed a part of, this Agreement. Supplemental Terms shall prevail over this Agreement in the event of
    a conflict.  
</p>
<p dir="ltr">
    13.3 Severability. If any provision of this Agreement is or becomes invalid or non-binding, the parties shall remain bound by all other provisions hereof.
    In that event, the parties shall replace the invalid or non-binding provision with provisions that are valid and binding and that have, to the greatest
    extent possible, a similar effect as the invalid or non-binding provision, given the contents and purpose of this Agreement.  
</p>
<p dir="ltr">
    13.4 Assignment. Neither party shall assign or transfer this Agreement or any of its rights or obligations hereunder, in whole or in part, without the
    prior written consent of the other party; provided that Company may assign or transfer this Agreement or any or all of its rights or obligations under this
    Agreement from time to time without consent: (a) to an Affiliate; or (b) to an acquirer of all or substantially all of Company’s business, equity or
    assets.  
</p>
<p dir="ltr">
    13.5 Entire Agreement. This Agreement, including all Supplemental Terms, constitutes the entire agreement and understanding of the parties with respect to
    its subject matter and replaces and supersedes all prior or contemporaneous agreements or undertakings regarding such subject matter. In this Agreement,
    the words “including” and “include” mean “including, but not limited to.” The recitals form a part of this Agreement.  
</p>
<p dir="ltr">
    13.6 No Third Party Beneficiaries. There are no third party beneficiaries to this Agreement, except as expressly set forth in the Arbitration Provision in
    Section 15.3. Nothing contained in this Agreement is intended to or shall be interpreted to create any third-party beneficiary claims.  
</p>
<p dir="ltr">
    13.7 Notices. Any notice delivered by Company to you under this Agreement will be delivered by email to the email address associated with your account or
    by posting on the portal available to you on the Charme Services.  
</p>
<p dir="ltr">
    14. Governing Law; Arbitration
</p>
<p dir="ltr">
    14.1 Any dispute, controversy, claim or difference arising between the parties hereto out of, in connection with or relating to this Agreement and any
    ancillary agreement (including without limitation the signature, interpretation, performance, termination and post-termination of the same) and all other
    agreements or other documents entered into in connection with this Agreement, shall be referred to and settled by final and binding arbitration by three
    (3) arbitrators in accordance with the provisions of the Arbitration and Conciliation Act Cap A18, Laws of the Federation of Nigeria 2004 in effect on the
    date thereof.
</p>
<br/>
<p dir="ltr">
    14.2 The decision of the Arbitral panel shall be binding on all the parties hereto and shall be construed as a final resolution of any such dispute or
    difference.
</p>
<br/>
<p dir="ltr">
    14.3 This Agreement shall be governed by and construed in all respects in accordance with the Laws of the Federal Republic of Nigeria
</p>

									
								</div>
						   </div>