/*------------------------------------------------------------------
[Stylesheet]
Color Palette - Blue

background_solid    { background: #1565c0; }
button              { background: #e91e63; }
button_hover        { background: #c2185b; }

Charme Colors
Primary Color - #e91e63
Dark Primary Color - #c2185b
Light Primary Color - #f8bbd0
Primary Text - #212121
Secondary Text - #727272
Divider Color - #b6b6b6
-------------------------------------------------------------------*/

.btn,
.btn-large {
	background-color: #e91e63;
	    border-radius: 5px;
}

.btn:hover,
.btn-large:hover {
	background-color: #c2185b;
}
.btn-blue{
	background-color: #212121;
}
.btn-blue:hover{
	background-color: #9C27B0;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
textarea:focus {
	border-bottom: 1px solid #e91e63;
    -webkit-box-shadow: 0 1px 0 0 #e91e63;
    -moz-box-shadow: 0 1px 0 0 #e91e63;
    box-shadow: 0 1px 0 0 #e91e63; 
}

.hero_fullscreen.background_solid {
	background-color: #1565c0;
}

a {
	color:#e91e63
}

.hero_fullscreen.gradient_overlay {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #212121 0%, #c2185b 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #212121 0%, #c2185b 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #212121 0%, #c2185b 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #212121), color-stop(1, #c2185b));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #212121 0%, #c2185b 100%);	
}

/*------------------------------------------------------------------
[Stylesheet]
Color Scheme - Light
-------------------------------------------------------------------*/


.hero_fullscreen,
nav a,
#message,
.cta_button_area a{
	color:white;
}

.hero_fullscreen {
	background-color: #212121;
	
}

.preloader_header,
.subsection,
.nivo-lightbox-theme-default.nivo-lightbox-overlay {
	background-color: #fafafa;	
}

.preloader_header .preloader_loader svg path.preloader_loader_circlebg {
    stroke: rgba(0, 0, 0, .1);
}

.preloader_header .preloader_loader svg path.preloader_loader_circle {
    transition: stroke-dashoffset 0.2s;
    stroke: rgba(0, 0, 0, .3);
}

.contact_form .input-field label,
.menu_bar_navigation ul li a{
	color:black;
}
.newsletter_form input[type=text],
.newsletter_form input[type=password],
.newsletter_form input[type=email],
.newsletter_form input[type=date],
.newsletter_form textarea{
	border-bottom: 1px solid rgba(255, 255, 255, .7);
}
 
.contact_form input[type=text],
.contact_form input[type=password],
.contact_form input[type=email],
.contact_form input[type=date],
.contact_form textarea {
	border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.countdown_part {
	border-right: 1px solid rgba(255, 255, 255, .7);
}

.input-field label {
	color:white;
}

.menu_bar {
	background-color:white;
}

.logo_dark {
	display:block;
}

.logo_light {
	display:none;
}

.subsection {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.iconbox_icon {
    color: rgba(0,0,0,0.5)
}

.nivo-lightbox-theme-default .nivo-lightbox-close,
.nivo-lightbox-theme-default .nivo-lightbox-nav {
	color:black
}

#reviews .owl-theme .owl-controls .owl-page span {border-color:white !important; background: rgba(255,255,255,0)}
#reviews .owl-theme .owl-controls .owl-page.active span,
#reviews .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: rgba(255,255,255,1);
	border-color:white !important
}

#screenshots_gallery .owl-theme .owl-controls .owl-page span {border-color:black !important; background: rgba(0,0,0,0)}
#screenshots_gallery .owl-theme .owl-controls .owl-page.active span,
#screenshots_gallery .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: rgba(0,0,0,1);
	border-color:black !important
}